<!doctype html>
<html lang="en">

<head>
    <title>Chat</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="../css/chat.css" />
    <link rel="stylesheet" href="../css/style.css" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <section>
        <div class="col-md-12 d-flex topbar section_header">
            <div class="col-md-10 menu">
                <div id="main_menu">
                </div>
                <!-- <button href="btn btn-primary">Thông tin tài khoản</button>
                <button href="btn btn-primary" onclick="acc_logout()">Đăng xuất</button>
                <a class="text-info" href="facebook.com">Hỗ trợ - 090xxxxxx</a> -->
            </div>
            <div class="col-md-2">
                <img class="avata" src="../img/avatar.png" width="40" height="40" />
                <a id="user_info" class="header_account" href="facebook.com">Nguyen van A - CTV</a>
            </div>
        </div>
    </section>
    <!-- Content Bar -->
    <section>
    <section class="pt-2">
        <div class="col-md-12 d-flex content">
            <!-- List user -->
            <div class="col-md-3 pl-0 pr-0 left_section">
                <!-- Search user -->
                <div class="w-100 d-flex pl-1 pt-1 pr-1">
                    <div class="w-75">
                        <input list="lst_user" class="form_control" name="search_user" id="search_user"
                            placeholder="Tìm kiếm">
                        <datalist id="lst_user">
                        </datalist>
                    </div>
                    <div class="w-25">
                        <select class="form_control" name="tag_name" id="tag_name">
                            <option selected>Tag</option>
                            <option selected>Chưa tags</option>
                            <option style="background-color: burlywood;">Private</option>
                            <option style="background-color: greenyellow;">Public</option>
                            <option style="background-color: red;">Never mind</option>
                        </select>
                    </div>
                </div>
                <hr />
                <!-- List user -->
                <div id="group_list" class="w-100 custom_scroll chat_group_list">

                </div>
            </div>
            <!-- Chat content -->
            <div id="chat_main" class="col-md-6 center_section pl-0 pr-0">
                <div id="chat_header" class="w-100 header_center_section">

                </div>
                <!-- <hr /> -->
                <div id="chat_text_content" class="chatcontent custom_scroll">

                </div>
                <div class="w-100">
                    <div id="tag_list" class="tag_list hide">
                        <div style="background-color: aquamarine;">private</div>
                        <div style="background-color: greenyellow;">public</div>
                        <div style="background-color: red;">never mind</div>
                        <div style="background-color: aquamarine;">private</div>
                        <div style="background-color: greenyellow;">public</div>
                        <div style="background-color: red;">never mind</div>
                        <div style="background-color: aquamarine;">private</div>
                        <div style="background-color: greenyellow;">public</div>
                        <div style="background-color: red;">never mind</div>
                    </div>
                </div>
                <div id="chat_button" class="w-100 footer_center_section hide">
                    <div class="d-flex chat_input">
                        <button class="btn btn-primary mr-1">File</button>
                        <textarea type="text" class="form-control" name="chat_content" id="chat_content"
                            onkeydown="enter_send(event)" aria-describedby="helpId" placeholder="Nội dung"></textarea>
                        <button id="send_chat" onclick="send_mess()" class="btn btn-primary ml-1">Gửi</button>
                    </div>
                </div>
            </div>
            <!-- Control -->
            <div class="col-md-3 pr-0 pl-0" style="background-color: #fff;">
                <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home"
                            role="tab" aria-controls="nav-home" aria-selected="true">Thông tin</a>
                        <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile"
                            role="tab" aria-controls="nav-profile" aria-selected="false">Đơn hàng</a>
                    </div>
                </nav>
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                        <div class="right_section">
                            <div class="w-100 p-1">
                                <div class="form-group">
                                    <label for="note">Note</label>
                                    <textarea class="form-control" name="note" id="note" rows="3"></textarea>
                                </div>
                            </div>
                            <div class="w-100 p-1">
                                <div class="form-group d-flex">
                                    <input list="lst_user" class="form_control p-1" name="search_text" id="input_tag_user"
                                        aria-describedby="helpId" placeholder="thêm nhân viên vào nhóm" />
                                    <div class="tagname"></div>
                                </div>
                            </div>
                            <div id="lst_user_taged" class="w-100 custom_scroll tag_user">
                               
                            </div>
                            <hr />
                            <div class="w-100 p-1">
                                <div class="form-group d-flex">
                                    <input list="lst_product" class="form_control p-1" name="search_product" id="input_search_product"
                                        aria-describedby="helpId" placeholder="thêm hàng hóa" />
                                        <datalist id="lst_product">
                                        </datalist>
                                    <div class="tagname"></div>
                                </div>
                            </div>
                            <div class="w-100">
                                <table id="table_product" class="table-bordered table_product">
                                    <thead>
                                        <tr>
                                            <th>Code</th>
                                            <th>SP</th>
                                            <th>CK(%)</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <!-- <tr>
                                            <td scope="row">Q-001</td>
                                            <td scope="row">Quần đùi</td>
                                            <td>5</td>
                                        </tr>
                                        <tr>
                                            <td scope="row">A-001</td>
                                            <td scope="row">Áo sơ mi</td>
                                            <td>10</td>
                                        </tr> -->
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                        <div class="w-100 p-1">
                            <a href="#" onclick="load_bill_checkout()" data-toggle="modal" data-target="#bill_modal" class="btn btn-link">Chốt đơn nhanh</a>
                            <a href="#" class="btn btn-link">Xem báo cáo</a>
                        </div>
                        <div class="w-100 p-1">
                            <div class="bill_title">Đơn chốt gần đây</div>
                        </div>
                        <div class="w-100 p-1">
                           <table id="bill_table" class="table table-bordered"> 
                                <thead>
                                    <tr>
                                        <th>Thời gian</th>
                                        <th>Người chốt</th>
                                        <th>Tổng (VNĐ)</th>
                                        <th>Thao tác</th>
                                    </tr>
                                </thead>
                                <tbody>

                                </tbody>
                           </table> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Button trigger modal -->
    <!-- <button type="button" class="btn btn-primary btn-lg">
      Launch
    </button> -->
    
    <!-- Modal -->
    <div class="modal fade" id="bill_modal" tabindex="-1" role="dialog" aria-labelledby="bill_id" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Chốt đơn nhanh</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                </div>
                <div class="modal-body">

                    <div class="form-group w-100">
                        <label for="customer">Khách hàng</label>
                        <input type="text" required class="form-control" name="customer" id="customer"
                            aria-describedby="helpId" placeholder="">
                    </div>

                    Tổng tiền : <label id="lb_total"></label>
                    <table id="bill_checkout" class="table table-bordered">
                        <thead>
                            <tr>
                                <th>SP</th>
                                <th>SL</th>
                                <th>Giá</th>
                                <th>TT</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- <tr>
                                <td scope="row"></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr> -->
                        </tbody>
                    </table>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                    <button type="button" class="btn btn-primary">Lưu</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Optional JavaScript -->
    <script src="../js/chat_function.js"></script>
    <script src="../js/chat_report.js"></script>
    <script src="../js/chat_bill.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../js/socket.io.js"></script>
    <script>
        var cr_u = check_authen_inchat();
        var _event_listen = `receive`;
        var socket = io({
            auth: {
                id: cr_u.id
            }
        });
        // io.emit('connection', { user: cr_users, mess: input.value });
        // socket.on("connection", (socket) => {
        //     socket.emit('connect', { user: cr_users });
        //     // socket.data.user = cr_u.json();
        // });
        socket.on(_event_listen, function (msg) {
            add_receive_ui(msg);
        });

        function enter_send(e) {
            if (e.keyCode == 13) {
                send_mess();
            }
        }

        function send_mess() {
            var input = document.getElementById('chat_content');
            if (input.value == '') return;
            if (input.value) {
                add_message(input.value);
                add_send_ui(input.value);
                socket.emit('send', { user: cr_users, mess: input.value });
                input.value = '';
                auto_scroll();
            }
        }

    </script>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
        <script src="../js/menu_function.js"></script>
</body>

</html>