<!doctype html>
<html lang="en">

<head>
    <title>Chat</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="../css/chat.css" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <section class="pt-2">
        <div class="col-md-12 d-flex content">
            <!-- List user -->
            <div class="col-md-2 pl-0 pr-0 left_section">
                <!-- Search user -->
                <div class="w-100 d-flex pl-1 pt-1 pr-1">
                    <div class="w-75">
                        <input list="lst_user" class="form_control" name="search_user" id="search_user"
                            placeholder="Tìm kiếm">
                        <datalist id="lst_user">
                        </datalist>
                    </div>
                    <div class="w-25">
                        <select class="form_control" name="tag_name" id="tag_name">
                            <option selected>Tag</option>
                            <option selected>Chưa tags</option>
                            <option style="background-color: burlywood;">Private</option>
                            <option style="background-color: greenyellow;">Public</option>
                            <option style="background-color: red;">Never mind</option>
                        </select>
                    </div>
                </div>
                <hr />
                <!-- List user -->
                <div id="group_list" class="w-100 custom_scroll chat_group_list">

                </div>
            </div>
            <!-- Chat content -->
            <div id="chat_main" class="col-md-7 center_section pl-0 pr-0">
                <div id="chat_header" class="w-100 header_center_section">

                </div>
                <hr />
                <div id="chat_text_content" class="chatcontent custom_scroll">

                </div>
                <div class="w-100">
                    <div id="tag_list" class="tag_list">
                        <div style="background-color: aquamarine;">private</div>
                        <div style="background-color: greenyellow;">public</div>
                        <div style="background-color: red;">never mind</div>
                        <div style="background-color: aquamarine;">private</div>
                        <div style="background-color: greenyellow;">public</div>
                        <div style="background-color: red;">never mind</div>
                        <div style="background-color: aquamarine;">private</div>
                        <div style="background-color: greenyellow;">public</div>
                        <div style="background-color: red;">never mind</div>
                    </div>
                </div>
                <div class="w-100 footer_center_section">
                    <div class="d-flex chat_input">
                        <button class="btn btn-primary mr-1">File</button>
                        <textarea type="text" class="form-control" name="chat_content" id="chat_content"
                            onkeydown="enter_send(event)" aria-describedby="helpId" placeholder="Nội dung"></textarea>
                        <button id="send_chat" onclick="send_mess()" class="btn btn-primary ml-1">Gửi</button>
                    </div>
                </div>
            </div>
            <!-- Control -->
            <div class="col-md-3 pr-0 pl-0" style="background-color: #fff;">
                <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home"
                            role="tab" aria-controls="nav-home" aria-selected="true">Thông tin</a>
                        <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile"
                            role="tab" aria-controls="nav-profile" aria-selected="false">Đơn hàng</a>
                    </div>
                </nav>
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                        <div class="right_section">
                            <div class="w-100 p-1">
                                <div class="form-group">
                                    <label for="note">Note</label>
                                    <textarea class="form-control" name="note" id="note" rows="3"></textarea>
                                </div>
                            </div>
                            <div class="w-100 p-1">
                                <div class="form-group d-flex">
                                    <input list="lst_user" class="form_control p-1" name="search_text" id="search_text"
                                        aria-describedby="helpId" placeholder="thêm nhân viên vào nhóm" />
                                    <div class="tagname"></div>
                                </div>
                            </div>
                            <div class="w-100 custom_scroll tag_user d-flex flex-wrap">
                                <div class="w-50 d-flex mb-1">
                                    <!-- <img class="avata" src="../img/avatar.jpg" width="40" height="40" /> -->
                                    <div>Nguyen van B - KT</div>
                                    <a class="btn btn-sm btn-danger">X</a>
                                </div>
                                <div class="w-50 d-flex mb-1">
                                    <!-- <img class="avata" src="../img/avatar.jpg" width="40" height="40" /> -->
                                    <div>Nguyen van B - KT</div>
                                    <a class="btn btn-sm btn-danger">X</a>
                                </div>
                                <div class="w-50 d-flex mb-1">
                                    <!-- <img class="avata" src="../img/avatar.jpg" width="40" height="40" /> -->
                                    <div>Nguyen van B - KT</div>
                                    <a class="btn btn-sm btn-danger">X</a>
                                </div>
                            </div>
                            <hr />
                            <div class="w-100">
                                <table class="table-bordered w-100">
                                    <thead>
                                        <tr>
                                            <th>Code</th>
                                            <th>SP</th>
                                            <th>CK(%)</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td scope="row">Q-001</td>
                                            <td scope="row">Quần đùi</td>
                                            <td>5</td>
                                        </tr>
                                        <tr>
                                            <td scope="row">A-001</td>
                                            <td scope="row">Áo sơ mi</td>
                                            <td>10</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                        <div class="w-100 p-1">
                            <a href="#" class="btn btn-link">Xem đơn</a>
                            <a href="#" class="btn btn-link">Xem báo cáo</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Optional JavaScript -->
    <script src="../js/chat_function.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../js/socket.io.js"></script>
    <script>
        var cr_u = check_authen();
        var _event_listen = `receive`;
        var socket = io({
            auth: {
                id: cr_u.id
            }
        });
        // io.emit('connection', { user: cr_users, mess: input.value });
        // socket.on("connection", (socket) => {
        //     socket.emit('connect', { user: cr_users });
        //     // socket.data.user = cr_u.json();
        // });
        socket.on(_event_listen, function (msg) {
            add_receive_ui(msg);
        });

        function enter_send(e) {
            if (e.keyCode == 13) {
                send_mess();
            }
        }

        function send_mess() {
            var input = document.getElementById('chat_content');
            if (input.value == '') return;
            if (input.value) {
                add_message(input.value);
                add_send_ui(input.value);
                socket.emit('send', { user: cr_users, mess: input.value });
                input.value = '';
            }
        }

    </script>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>