<!doctype html>
<html lang="en">

<head>
    <title>Sản phẩm</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../css/style.css" />
    <link rel="stylesheet" type="text/css" href="../css/table.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <!-- Top Bar -->
    <section>
        <div class="col-md-12 d-flex topbar section_header">
            <div class="col-md-10 menu">
                <div id="main_menu">
                </div>
                <!-- <button href="btn btn-primary">Thông tin tài khoản</button>
                <button href="btn btn-primary" onclick="acc_logout()">Đăng xuất</button>
                <a class="text-info" href="facebook.com">Hỗ trợ - 090xxxxxx</a> -->
            </div>
            <div class="col-md-2">
                <img class="avata" src="../img/avatar.png" width="40" height="40" />
                <a id="user_info" class="header_account" href="facebook.com">Nguyen van A - CTV</a>
            </div>
        </div>
    </section>
    <!-- Content Bar -->
    <section>
        <div class="col-md-12 pl-0 pr-0 d-flex">
            <div class="col-md-12">
                <div class="link_map" id="linkmenu">
                </div>
                <div class="text_title">
                    Danh sách Sản phẩm
                </div>
                <div id="content">
                    <button class="btn btn-primary" data-toggle="modal" onclick="clearModal('detailId')"
                        data-target="#detailId">Tạo mới</button>
                    <table id="mainData" class="tablemanager table table-striped table-bordered table-sm"
                        cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th class="disableSort">id</th>
                                <th>Nhóm kinh doanh</th>
                                <th>Sản phẩm</th>
                                <th>Mã</th>
                                <th>Giá (VND)</th>
                                <th>Trạng thái</th>
                                <th class="disableFilterBy">Thao tác</th>
                            </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>

                    <!-- <button class="btn btn-sm btn-primary" data-toggle="modal" data-target="#detailId">Tạo mới</button> -->
                </div>
            </div>
        </div>
    </section>
    <!-- Footer Bar -->
    <!-- Button trigger modal -->
    <!-- Modal -->
    <div class="modal fade" id="detailId" tabindex="-1" group="dialog" aria-labelledby="modelTitleId"
        aria-hidden="true">
        <div class="modal-dialog modal_multi_tab" group="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Thông tin Sản phẩm</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body d-flex">
                    <div class="d-flex flex-wrap text-center w-50 p-1" style="justify-content: space-between;">
                        <input hidden id="product_id" value="0" />
                        <div class="form-group w-100">
                            <label for="lsu">Nhóm kinh doanh</label>
                            <select required class="form-control" name="lsu" id="lsu">
                                <!-- <option value="0" selected>Không</option> -->
                            </select>
                        </div>
                        <div class="form-group w-50">
                            <label for="name">Tên</label>
                            <input type="text" class="form-control" name="name" id="name" required
                                aria-describedby="helpId" placeholder="">
                        </div>
                        <div class="form-group w-50">
                            <label for="code">Code</label>
                            <input type="text" class="form-control" name="code" id="code" required
                                aria-describedby="helpId" placeholder="">
                        </div>
                        <!-- <div class="form-group w-50">
                            <label for="ck">CK (%)</label>
                            <input type="number" class="form-control" name="ck" id="ck" required
                                aria-describedby="helpId" placeholder="">
                        </div> -->
                        <div class="form-group w-50">
                            <label for="price">Giá</label>
                            <input type="number" class="form-control" name="price" id="price" required
                                aria-describedby="helpId" placeholder="">
                        </div>
                        <div class="form-group w-50">
                            <label for="is_active">Ẩn / Hiện</label>
                            <!-- <label class="form-check-label"> -->
                            <input class="form-control" type="checkbox" name="is_active" id="is_active"
                                value="checkedValue" checked>
                            <!-- </label> -->
                        </div>
                    </div>
                    <div class="d-block text-center w-50 p-1 custom_scroll"
                        style="max-height: 400px;overflow-y: scroll;">
                        <h6 style="height: fit-content;">Chiết khấu (Ưu tiên tính theo tiền)</h6>
                        <button class="btn btn-primary" onclick="new_discount()">Thêm mới</button>
                        <table id="table_discount" class="table w-100">
                            <thead>
                                <tr>
                                    <th>Từ</th>
                                    <th>Đến</th>
                                    <th>%</th>
                                    <th>Tiền</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" onclick="save_acc()" data-dismiss="modal"
                        class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </div>
    <section>

    </section>
    <!-- Optional JavaScript -->

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

    <script src="../js/main.js"></script>
    <script src="../js/menu_function.js"></script>
    <script src="../js/table.js"></script>
    <script>
        var is_first = true;
        //var current_menu = '';
        load_product();
        load_list_group();
        //load_list_product();
        function set_link_menu(m, t) {
            var ae = document.createElement('a');
            ae.href = '/';
            ae.innerText = 'Trang chủ';
            var me = document.createElement('a');
            me.href = `/home/${m}`;
            me.innerText = t || m;
            var sign = document.createElement('span');
            sign.innerText = ' > ';
            var ct = document.getElementById('linkmenu');
            ct.innerHTML = '';
            ct.appendChild(ae);
            ct.appendChild(sign);
            ct.appendChild(me);
        }

        async function load_product() {
            set_link_menu('product', 'Quản lý Sản phẩm');
            var tb = document.getElementById('mainData').querySelector('tbody');
            tb.innerHTML = '';
            let rs = await product_get_all();
            tb.innerHTML += allRow(rs, tb, ['id', 'group_name', 'name', 'code', 'price', 'is_active']).innerHTML;
            covertTrueFalse(tb, 5, 'Hiện', 'Ẩn');
            if (is_first) {
                $('.tablemanager').tablemanager({
                    firstSort: [[3, 0], [2, 0], [1, 'asc']],
                    disable: ["last"],
                    appendFilterby: true,
                    dateFormat: [[4, "mm-dd-yyyy"]],
                    debug: true,
                    vocabulary: {
                        voc_filter_by: 'Lọc theo',
                        voc_type_here_filter: 'từ khóa',
                        voc_show_rows: 'Số dòng mỗi trang'
                    },
                    pagination: true,
                    showrows: [100, 200],
                    disableFilterBy: [1],
                    group_by_col: 1
                });
            }
            is_first = false;
        }

        async function load_list_group() {
            var tb = document.getElementById('lsu');
            var rs = await group_get_all();
            rs.forEach(row => {
                tb.innerHTML += `<option value="${row.id}">${row.name}</option>`;
            });
        }

        function open_product(id = 0, acc_id = 0) {
            location.href = `/product/product?id=${id}`;
        }

        // async function load_list_product() {
        //     var tb = document.getElementById('product');
        //     await fetch(`/api/product` /*, options */)
        //         .then((response) => response.json())
        //         .then((data) => {
        //             data.forEach(row => {
        //                 tb.innerHTML += `<option value="${row.id}">${row.name}</option>`;
        //             });
        //         })
        //         .catch((error) => {
        //             console.warn(error);
        //         });
        // }

        async function load_detail(id) {
            let rs = await product_get_detail(id);
            document.getElementById('product_id').value = rs.id || 0;
            document.getElementById('name').value = rs.name;
            document.getElementById('code').value = rs.code;
            document.getElementById('is_active').checked = rs.is_active;
            document.getElementById('price').value = rs.price;
            load_discount(id);
            // document.getElementById('ck').value = rs.ck;

            var select_g = document.getElementById('lsu').querySelector(`option[value = "${rs.group_id}"]`);
            if (select_g != undefined) {
                select_g.selected = true;
            }

            // document.getElementById('level').level = rs.level;
        }

        async function load_discount(id) {
            var tb = document.getElementById('table_discount').querySelector('tbody');
            tb.innerHTML = '';
            var all = await get_discount(id);
            if (all) {
                all.forEach((i) => {
                    tb.innerHTML += `<tr data-id="${i.id}" data-is_active="${i.is_active}">
                            <td><input type="number" value="${i.from_value}"/></td>
                            <td><input type="number" value="${i.to_value}"/></td>
                            <td><input type="number" value="${i.percent}"/></td>
                            <td><input class="w-100" type="number" value="${i.money}"/></td>
                            <td><button onclick="remove_discount(this)" class="btn btn-sm btn-warning">Xóa</button></td>
                        </tr>`;
                });
            }
        }

        function new_discount() {
            var tb = document.getElementById('table_discount').querySelector('tbody');
            var tr = document.createElement('tr');
            tr.dataset.id = 0;
            tr.dataset.is_active = 1;
            tr.innerHTML += `<td><input type="number" value="0"/></td>
                            <td><input type="number" value="0"/></td>
                            <td><input type="number" value="0"/></td>
                            <td><input class="w-100" type="number" value="0"/></td>
                            <td><button onclick="remove_discount(this)" class="btn btn-sm btn-warning">Xóa</button></td>`;
            tb.appendChild(tr);
        }
        function remove_discount(ele) {
            var tr = ele.closest('tr');
            tr.dataset.is_active = 0;
            tr.style.display = "none";
        }

        async function clearModal(modal_id) {
            var modal = document.getElementById(modal_id);
            var tb = document.getElementById('table_discount').querySelector('tbody');
            tb.innerHTML = '';
            modal.querySelectorAll('input').forEach(e => { e.value = '' });
        }

        async function save_acc(changeActive, change_id) {
            if (confirm('Bạn có chắc chắn muốn thay đổi dữ liệu ?')) {
            } else {
                return;
            }
            var id = change_id || document.getElementById('product_id').value;
            var name = document.getElementById('name').value;
            var is_active = document.getElementById('is_active').checked;
            var code = document.getElementById('code').value;
            var price = document.getElementById('price').value;
            // var ck = document.getElementById('ck').value;
            // var level = document.getElementById('level').value;
            var group_id = document.getElementById('lsu').value;

            //save discount
            var data_d = document.getElementById('table_discount').querySelector('tbody').querySelectorAll('tr');
            var js_dt = [];
            Array.prototype.forEach.call(data_d, (d) => {
                var fvl = d.querySelectorAll('input')[0].value;
                var tvl = d.querySelectorAll('input')[1].value;
                var per = d.querySelectorAll('input')[2].value;
                var mon = d.querySelectorAll('input')[3].value;
                js_dt.push({ id: d.dataset.id, from_value: fvl, to_value: tvl, percent: per, money: mon, is_active: d.dataset.is_active });
            });
            // discount_save(id, js_dt);

            var url = `/api/product`;
            var meth = 'POST';
            const formData = new FormData();

            if (id != 0) {
                meth = 'PUT';
                url = `/api/product/${id}`;
            }
            var data = {};
            if (changeActive == null || changeActive == undefined) {
                if (!validateField(name, 'Tên Sản phẩm')) {
                    return;
                }
                // if (!validateField(level, 'Cấp bậc')) {
                //     return;
                // }
                data = { data: { name: name, is_active: is_active, code: code, price: price, group_id: group_id }, js_data: js_dt };
            } else {
                data = { data: { is_active: !changeActive } };
            }
            let rs = await product_save(url, data, meth);


            console.log('Success:', rs);
            load_product();
        }

        async function del_acc(id) {
            if (confirm('Bạn có chắc chắn muốn thay đổi dữ liệu ?')) {
            } else {
                return;
            }
            let rs = await product_del(id);
            console.log('Success:', rs);
            load_product();
        }
    </script>
</body>

</html>