<!doctype html>
<html lang="en">

<head>
    <title>Notice</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../css/style.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <!-- Top Bar -->
    <section>
        <div class="col-md-12 d-flex topbar section_header">
            <div class="col-md-10 menu">
                <div id="main_menu">
                </div>
                <!-- <button href="btn btn-primary">Thông tin tài khoản</button>
                <button href="btn btn-primary" onclick="acc_logout()">Đăng xuất</button>
                <a class="text-info" href="facebook.com">Hỗ trợ - 090xxxxxx</a> -->
            </div>
            <div class="col-md-2">
                <img class="avata" src="../img/avatar.png" width="40" height="40" />
                <a id="user_info" class="header_account">Nguyen van A - CTV</a>
            </div>
        </div>
    </section>
    <!-- Content Bar -->
    <section>
        <div class="col-md-12 pl-0 pr-0 d-flex">
            <div class="col-md-12">
                <div class="link_map" id="linkmenu">
                </div>
                <div class="w-100 pt-3">
                    <a href="#" class="btn btn-primary">Báo cáo tổng hợp</a>
                    <a href="#" class="btn btn-primary">Báo cáo đơn hàng</a>
                    <a href="#" class="btn btn-primary">Báo cáo nhân viên</a>
                    <a href="#" class="btn btn-primary">Báo cáo thu nhập</a>
                    <a href="#" class="btn btn-primary">Báo cáo hàng hóa</a>
                </div>
                <div id="content">
                    <div class="w-100 d-flex">
                        <div class="form-group w-50">
                            <label for="from_date">Từ ngày</label>
                            <input type="date" class="form-control" name="from_date" id="from_date"
                                aria-describedby="from_date" placeholder="dd/mm/yyyy">
                            <!-- <small id="from_date" class="form-text text-muted">Chọn ngày</small> -->
                        </div>
                        <div class="form-group w-50">
                            <label for="to_date">Từ ngày</label>
                            <input type="date" class="form-control" name="to_date" id="to_date"
                                aria-describedby="to_date" placeholder="dd/mm/yyyy">
                            <!-- <small id="to_date" class="form-text text-muted">Chọn ngày</small> -->
                        </div>

                    </div>
                    <hr />
                    <h3 id="rp_title" class="w-100">Báo cáo tổng hợp</h3>
                    <hr />
                    <div class="w-100">
                        <table class="table table-bordered">
                            <thead>
                                <!-- nhom, sl don hang, tong tien , tong ck -->
                                <tr>
                                    <th>cột 1</th>
                                    <th>cột 2</th>
                                    <th>cột 3</th>
                                    <th>cột 4</th>
                                    <th>cột 5</th>
                                    <th>cột 6</th>
                                    <th>cột 7</th>
                                    <th>cột 8</th>
                                </tr>
                            </thead>
                            <tbody id="tb_data">

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Footer Bar -->
    <section>

    </section>
    <!-- Optional JavaScript -->
    <script>
        var current_menu = '';

        load_default_date();

        load_notice();

        function set_link_menu(m, t) {
            var ae = document.createElement('a');
            ae.href = '/';
            ae.innerText = 'Trang chủ';
            var me = document.createElement('a');
            me.href = `/home/${m}`;
            me.innerText = t || m;
            var sign = document.createElement('span');
            sign.innerText = ' > ';
            var ct = document.getElementById('linkmenu');
            ct.appendChild(ae);
            ct.appendChild(sign);
            ct.appendChild(me);
        }

        function load_notice() {
            set_link_menu('report', 'Báo cáo')
        }

        function load_default_date() {
            var now_t = new Date();
            var m = now_t.getMonth();
            var date = now_t.getDate();
            var y = now_t.getFullYear();
            document.getElementById('from_date').value = `01-${m}-${y}`;
            document.getElementById('to_date').value = `${date}-${m}-${y}`;
        }


    </script>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

    <script src="../js/main.js"></script>
    <script src="../js/menu_function.js"></script>
</body>

</html>