<!doctype html>
<html lang="en">

<head>
    <title>Report</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../css/style.css" />
    <link rel="stylesheet" type="text/css" href="../css/table.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <!-- Top Bar -->
    <section>
        <div class="col-md-12 d-flex topbar section_header">
            <div class="col-md-10 menu">
                <div id="main_menu">
                </div>
                <!-- <button href="btn btn-primary">Thông tin tài khoản</button>
                <button href="btn btn-primary" onclick="acc_logout()">Đăng xuất</button>
                <a class="text-info" href="facebook.com">Hỗ trợ - 090xxxxxx</a> -->
            </div>
            <div class="col-md-2">
                <img class="avata" src="../img/avatar.png" width="40" height="40" />
                <a id="user_info" class="header_account">Nguyen van A - CTV</a>
            </div>
        </div>
    </section>
    <!-- Content Bar -->
    <section>
        <div class="col-md-12 pl-0 pr-0 d-flex">
            <div class="col-md-12">
                <div class="link_map" id="linkmenu">
                </div>
                <hr />
                <div class="w-100 pt-3"  id="report">
                    <!-- <a href="./report" class="btn btn-primary">Báo cáo tổng hợp</a>
                    <a href="./bill" class="btn btn-primary">Báo cáo đơn hàng</a> -->
                    <!-- <a href="#" class="btn btn-primary">Báo cáo nhân viên</a>
                    <a href="#" class="btn btn-primary">Báo cáo thu nhập</a> -->
                    <!-- <a href="./rpp" class="btn btn-primary">Báo cáo hàng hóa</a> -->
                </div>
                <hr />
                <div class="w-100 d-flex">
                    <div class="form-group w-50">
                        <label for="from_date">Từ ngày</label>
                        <input type="date" class="form-control" name="from_date" id="from_date"
                            aria-describedby="from_date" placeholder="yyyy-MM-dd">
                        <!-- <small id="from_date" class="form-text text-muted">Chọn ngày</small> -->
                    </div>
                    <div class="form-group w-50">
                        <label for="to_date">Đến ngày</label>
                        <input type="date" class="form-control" name="to_date" id="to_date" aria-describedby="to_date"
                            placeholder="yyyy-MM-dd">
                        <!-- <small id="to_date" class="form-text text-muted">Chọn ngày</small> -->
                    </div>
                </div>
                <hr />
                <div class="text_title">
                    Báo cáo hàng hóa
                </div>
                <div id="content">
                    <button class="btn btn-primary" data-toggle="modal" onclick="load_general_report()"
                        data-target="#detailId">Tìm kiếm</button>
                    <table id="mainData" class="tablemanager table table-striped table-bordered table-sm"
                        cellspacing="0" width="100%">
                        <thead>
                            <!-- ['product_id','product_name','code','quantity','total','ck'] -->
                            <tr>
                                <th>Id</th>
                                <th>Nhóm</th>
                                <th>Tên</th>
                                <th>Mã</th>
                                <th>Số lượng bán ra</th>
                                <th>Doanh số (VND)</th>
                                <th>Chiết khấu (VND)</th>
                            </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>

                    <!-- <button class="btn btn-sm btn-primary" data-toggle="modal" data-target="#detailId">Tạo mới</button> -->
                </div>
            </div>
        </div>
    </section>
    <!-- Optional JavaScript -->

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

    <script src="../js/main.js"></script>
    <script src="../js/menu_function.js"></script>
    <script src="../js/table.js"></script>
    <script>
        var is_first = true;
        load_default_date();
        load_general_report();
        function load_default_date() {
            var now_t = new Date();
            var m = (now_t.getMonth() + 1) < 10 ? `0${now_t.getMonth() + 1}` : (now_t.getMonth() + 1);
            var date = now_t.getDate();
            var y = now_t.getFullYear();
            document.getElementById('from_date').value = `${y}-${m}-01`;
            document.getElementById('to_date').value = `${y}-${m}-${date < 10 ? ('0' + date) : date}`;
        }

        menu_report();

        // Show menu report 
        async function menu_report() {
            let cr_user = JSON.parse(getCookie('user'));
            let acc_report = await fetch(`/api/menu_report/${cr_user.id}` /*, options */)
                .then((response) => response.json())
                .then((data) => {
                    return data[0];
                })
                .catch((error) => {
                    console.warn(error);
                    return undefined;
                });
            var place = document.getElementById("report");
            if (acc_report) {
                acc_report.forEach(e => {
                    if (Number(e.status) == 1 && e.action === 'report_general') {
                        place.innerHTML += `
                                        <a href="./report" class="btn btn-primary">Báo cáo tổng hợp</a>
                                    `;
                    } else if (Number(e.status) == 1 && e.action === 'report_bill') {
                        place.innerHTML += `
                                        <a href="./bill" class="btn btn-primary">Báo cáo đơn hàng</a>
                                    `;
                    } else if (Number(e.status) == 1 && e.action === 'report_product') {
                        place.innerHTML += `
                                        <a href="./rpp" class="btn btn-primary">Báo cáo hàng hóa</a>
                                    `;
                    }
                })
            }
        }

        function set_link_menu(m, t) {
            var ae = document.createElement('a');
            ae.href = '/';
            ae.innerText = 'Trang chủ';
            var me = document.createElement('a');
            me.href = `/home/${m}`;
            me.innerText = t || m;
            var sign = document.createElement('span');
            sign.innerText = ' > ';
            var ct = document.getElementById('linkmenu');
            ct.innerHTML = '';
            ct.appendChild(ae);
            ct.appendChild(sign);
            ct.appendChild(me);
        }

        async function load_general_report() {
            set_link_menu('report', 'Báo cáo hàng hóa');

            var from = document.getElementById('from_date').value;
            var to = document.getElementById('to_date').value;
            var rs = await report_product(from, to);

            var tb = document.getElementById('mainData').querySelector('tbody');
            tb.innerHTML = '';
            if (rs != undefined) {
                //product_id, quantity, total, ck, product_name, code
                tb.innerHTML += allRow(rs, tb, ['product_id', 'group_name', 'product_name', 'code', 'quantity', 'total', 'ck'], false, [], false).innerHTML;
                // covertTrueFalse(tb, 6, 'Hiện', 'Ẩn');
                // if (is_first) load_list_user(rs[0]);
            }
            if (is_first) {
                $('.tablemanager').tablemanager({
                    firstSort: [[3, 0], [2, 0], [1, 'asc']],
                    disable: ["last"],
                    appendFilterby: true,
                    dateFormat: [[4, "mm-dd-yyyy"]],
                    debug: true,
                    vocabulary: {
                        voc_filter_by: 'Lọc theo',
                        voc_type_here_filter: 'từ khóa',
                        voc_show_rows: 'Số dòng mỗi trang'
                    },
                    pagination: true,
                    showrows: [100, 200],
                    disableFilterBy: [1],
                    group_by_col: 1
                });
            }
            is_first = false;
            format_vnd();
        }
    </script>
</body>

</html>