<!doctype html>
<html lang="en">

<head>
    <title>User</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../css/style.css" />
    <link rel="stylesheet" type="text/css" href="../css/table.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <!-- Top Bar -->
    <section>
        <div class="col-md-12 d-flex topbar section_header">
            <div class="col-md-10 menu">
                <div id="main_menu">
                </div>
                <!-- <button href="btn btn-primary">Thông tin tài khoản</button>
                <button href="btn btn-primary" onclick="acc_logout()">Đăng xuất</button>
                <a class="text-info" href="facebook.com">Hỗ trợ - 090xxxxxx</a> -->
            </div>
            <div class="col-md-2">
                <img class="avata" src="../img/avatar.png" width="40" height="40" />
                <a id="user_info" class="header_account">Nguyen van A - CTV</a>
            </div>
        </div>
    </section>
    <!-- Content Bar -->
    <section>
        <div class="col-md-12 pl-0 pr-0 d-flex">
            <div class="col-md-12">
                <div class="link_map" id="linkmenu">
                </div>
                <div class="text_title">
                    Danh sách tài khoản
                </div>
                <div id="content">
                    <button class="btn btn-primary" data-toggle="modal" onclick="clearModal('detailId')"
                        data-target="#detailId">Tạo mới</button>
                    <table id="mainData" class="tablemanager table table-striped table-bordered table-sm"
                        cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th class="disableSort">id</th>
                                <th>User</th>
                                <th>Tên</th>
                                <th>SDT</th>
                                <th>Chức vụ</th>
                                <th>Nhóm kinh doanh</th>
                                <!-- <th>Ngày tạo</th> -->
                                <!-- <th>Quản lý</th> -->
                                <th>Trạng thái</th>
                                <th class="disableFilterBy">Thao tác</th>
                            </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>

                    <!-- <button class="btn btn-sm btn-primary" data-toggle="modal" data-target="#detailId">Tạo mới</button> -->
                </div>
            </div>
        </div>
    </section>
    <!-- Footer Bar -->
    <!-- Button trigger modal -->
    <!-- Modal -->
    <div class="modal fade" id="detailId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
        <div class="modal-dialog modal_multi_tab" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Thông tin user</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body d-flex">

                    <div class="d-flex flex-wrap text-center w-50 p-1" style="justify-content: space-between;">
                        <input hidden id="user_id" value="0" />
                        <div class="form-group">
                            <label for="real_name">Họ tên</label>
                            <input type="text" class="form-control" name="real_name" id="real_name" required
                                aria-describedby="helpId" placeholder="">
                        </div>
                        <div class="form-group">
                            <label for="address">Địa chỉ</label>
                            <input type="text" class="form-control" name="address" id="address"
                                aria-describedby="helpId" placeholder="">
                        </div>
                        <div class="form-group">
                            <label for="email">email</label>
                            <input type="text" class="form-control" name="email" id="email" aria-describedby="helpId"
                                placeholder="">
                        </div>
                        <div class="form-group">
                            <label for="phone">phone</label>
                            <input type="text" class="form-control" name="phone" id="phone" aria-describedby="helpId"
                                placeholder="">
                        </div>
                        <div class="form-group w-50">
                            <label for="username">Tên đăng nhập</label>
                            <input type="text" required class="form-control" name="username" id="username"
                                aria-describedby="helpId" placeholder="">
                        </div>
                        <div class="form-group w-25">
                            <label for="pass">Mật khẩu</label>
                            <input type="text" required class="form-control" name="pass" id="pass"
                                aria-describedby="helpId" placeholder="">
                        </div>
                        <div class="form-group w-25">
                            <label for="role">Chức vụ</label>
                            <select required class="form-control" name="role" id="role">
                            </select>
                        </div>

                        <div class="form-group w-50">
                            <label for="deadtime">Hết hạn</label>
                            <input type="datetime-local" required class="form-control" name="deadtime" id="deadtime"
                                aria-describedby="helpId" placeholder="dd/mm/yyyy">
                        </div>
                        <div class="form-group w-25">
                            <label for="bill_code">Mã đơn hàng</label>
                            <input type="text" required class="form-control" name="bill_code" id="bill_code"
                                aria-describedby="helpId" placeholder="">
                        </div>
                        <div class="form-check w-25">
                            <label class="form-check-label">
                                <input type="checkbox" class="form-check-input" name="is_active" id="is_active"
                                    value="checkedValue" checked>
                                Hiện
                            </label>
                        </div>
                    </div>
                    <div class="d-flex flex-wrap text-center w-50 p-1" style="justify-content: space-between;">
                        <div class="form-group w-100">
                            <label for="lsu">Nhóm kinh doanh</label>
                            <select multiple required class="form-control" name="lsu" id="lsu">
                                <!-- <option value="0" selected>Không</option> -->
                            </select>
                        </div>
                        <div class="form-group w-100">
                            <label for="link_fb">Link fb cá nhân</label>
                            <div class="d-flex w-100">
                                <input type="text" required class="form-control w-75" name="link_fb" id="link_fb"
                                    aria-describedby="helpId" placeholder="">
                                <button class="btn btn-primary w-25" id="get_fb_info">Lấy ID</button>
                            </div>
                        </div>
                        <div class="form-group w-100 d-flex">
                            <div class="w-50">
                                <img id="fb_ava" src="../img/avatar.png" style="width: 75px;margin: auto;" />
                            </div>
                            <div class="w-50">
                                <div class="form-group w-100">
                                    <label for="id_fb">ID fb</label>
                                    <input type="text" required class="form-control" name="id_fb" id="id_fb"
                                        aria-describedby="helpId" placeholder="">
                                </div>
                                <div class="form-group w-100">
                                    <label for="nick_fb">Nickname FB</label>
                                    <input type="text" required class="form-control" name="nick_fb" id="nick_fb"
                                        aria-describedby="helpId" placeholder="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" onclick="save_acc()" data-dismiss="modal"
                        class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </div>
    <section>

    </section>
    <!-- Optional JavaScript -->

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

    <script src="../js/main.js"></script>
    <script src="../js/menu_function.js"></script>
    <script src="../js/table.js"></script>
    <script>
        var is_first = true;
        //var current_menu = '';
        load_user();
        load_list_role();
        function set_link_menu(m, t) {
            var ae = document.createElement('a');
            ae.href = '/';
            ae.innerText = 'Trang chủ';
            var me = document.createElement('a');
            me.href = `/home/${m}`;
            me.innerText = t || m;
            var sign = document.createElement('span');
            sign.innerText = ' > ';
            var ct = document.getElementById('linkmenu');
            ct.innerHTML = '';
            ct.appendChild(ae);
            ct.appendChild(sign);
            ct.appendChild(me);
        }

        async function load_user() {
            set_link_menu('user', 'Quản lý tài khoản');
            var tb = document.getElementById('mainData').querySelector('tbody');
            tb.innerHTML = '';
            var rs = await acc_get_all();
            if (rs[0] != undefined) {
                tb.innerHTML += allRow(rs[0], tb, ['id', 'user', 'real_name', 'phone', 'role_name', 'group_name', 'is_active'], null, [{ title: 'Nhóm', class: 'btn-primary', action: 'open_group' }]).innerHTML;
                covertTrueFalse(tb, 6, 'Hiện', 'Ẩn');
                // if (is_first) load_list_user(rs[0]);
            }
            var lst_gr = await group_get_all();
            load_list_group(lst_gr);
            if (is_first) {
                $('.tablemanager').tablemanager({
                    firstSort: [[3, 0], [2, 0], [1, 'asc']],
                    disable: ["last"],
                    appendFilterby: true,
                    dateFormat: [[4, "mm-dd-yyyy"]],
                    debug: true,
                    vocabulary: {
                        voc_filter_by: 'Lọc theo',
                        voc_type_here_filter: 'từ khóa',
                        voc_show_rows: 'Số dòng mỗi trang'
                    },
                    pagination: true,
                    showrows: [100, 200],
                    disableFilterBy: [1],
                    group_by_col: 5,
                    group_by_list_name: ['', ...lst_gr.map((m) => { return m.name })],
                });
            }
            is_first = false;
        }

        async function load_list_user(lst_u) {
            var tb = document.getElementById('lsu');
            lst_u.forEach(row => {
                tb.innerHTML += `<option value="${row.id}">${row.user}</option>`;
            });
        }

        async function load_list_role() {
            var tb = document.getElementById('role');
            var rs = await role_type_get_all();
            rs.forEach(row => {
                tb.innerHTML += `<option value="${row.id}">${row.name}</option>`;
            });
        }

        async function load_list_group(rs) {
            var tb = document.getElementById('lsu');
            // var rs = await group_get_all();
            rs.forEach(row => {
                tb.innerHTML += `<option value="${row.id}">${row.name}</option>`;
            });
        }

        async function load_detail(id) {
            var data = await acc_get_detail(id);
            document.getElementById('user_id').value = data.id || 0;
            document.getElementById('real_name').value = data.real_name;
            document.getElementById('bill_code').value = data.bill_code;
            document.getElementById('phone').value = data.phone;
            document.getElementById('email').value = data.email;
            document.getElementById('address').value = data.address;
            document.getElementById('username').value = data.user;
            document.getElementById('pass').value = data.pass;
            document.getElementById('is_active').checked = data.is_active;
            document.getElementById('deadtime').value = data.deadtime;
            document.getElementById('id_fb').value = data.fb_id || '';
            document.getElementById('nick_fb').value = data.fb_name || '';
            document.getElementById('fb_ava').src = data.avatar_url || '';

            var select_r = document.getElementById('role').querySelector(`option[value = "${data.role}"]`);
            if (select_r != undefined) {
                select_r.selected = true;
            }
            data.group_id.split(',').forEach((r) => {
                var select_g = document.getElementById('lsu').querySelector(`option[value = "${r}"]`);
                if (select_g != undefined) {
                    select_g.selected = true;
                }
            });
        }

        async function clearModal(modal_id) {
            var modal = document.getElementById(modal_id);
            modal.querySelectorAll('input').forEach(e => { e.value = '' });
        }

        function open_role(id = 0, acc_id = 0) {
            location.href = `/role_type/role?id=${id}&account_id=${acc_id}`;
        }

        function open_group(id = 0, acc_id = 0) {
            location.href = `/role_type/group?account_id=${acc_id}`;
        }

        async function save_acc(changeActive, change_id) {
            if (!confirm('Bạn có chắc chắn muốn thay đổi dữ liệu ?')) {
                return;
            }
            var id = change_id || document.getElementById('user_id').value;
            var username = document.getElementById('username').value;
            var bill_code = document.getElementById('bill_code').value;
            var pass = document.getElementById('pass').value;
            var role = document.getElementById('role').value;
            var real_name = document.getElementById('real_name').value;
            var phone = document.getElementById('phone').value;
            var email = document.getElementById('email').value;
            var is_active = document.getElementById('is_active').checked;
            var address = document.getElementById('address').value;
            var id_fb = document.getElementById('id_fb').value || '';
            var nick_fb = document.getElementById('nick_fb').value || '';
            var ava_fb = document.getElementById('fb_ava').src || '';
            // var group_id = document.getElementById('lsu').value;

            var options = document.getElementById('lsu').selectedOptions;
            var group_id = Array.from(options).map(({ value }) => value).join(',');

            var deadtime = document.getElementById('deadtime').value;

            let check_rs = await check_acc(id, username, role, group_id);
            if (!check_rs) {
                alert('Không thể kết nối tới máy chủ !');
                return;
            }
            if (check_rs.existed == 1) {
                alert('Tên đăng nhập đã tồn tại !');
                return;
            }
            if (check_rs.over_limit == 1) {
                alert('Chức vụ đã đạt giới hạn trong nhóm !');
                return;
            }

            var url = `/api/accounts`;
            var meth = 'POST';
            const formData = new FormData();

            if (id != 0) {
                meth = 'PUT';
                url = `/api/accounts/${id}`;
            }
            var data = {};
            if (changeActive == null || changeActive == undefined) {
                if (!validateField(username, 'Tên đăng nhập') || !validateSelect(role, 'Chức vụ') || !validateSelect(pass, 'Mật khẩu')) {
                    return;
                }
                data = { user: username, bill_code: bill_code, pass: pass, role: role, real_name: real_name, phone: phone, email: email, address: address, is_active: is_active, group_id: group_id, deadtime: deadtime, fb_id: id_fb, fb_name: nick_fb, avatar_url: ava_fb };
            } else {
                data = { is_active: !changeActive };
            }
            let rs = await acc_save(url, data, meth);
            console.log('Success:', rs);
            load_user();
        }

        async function del_acc(id) {
            if (!confirm('Bạn có chắc chắn muốn thay đổi dữ liệu ?')) {
                return;
            }
            let rs = await acc_del(id);
            // const formData = new FormData();
            console.log('Success:', rs);
            load_user();
        }
    </script>
</body>

</html>